
/* 
    Created on  : Jan 11, 2016, 11:29:46 AM
    Author      : Prakasam Mathaiyan
    URL         : http://www.mprakasam.com
    Email       : hello@mprakasam.com
*/


/************ BEGIN THIN : FONT-WEIGHT:100; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/100/CooperHewitt-Thin.eot") format("eot"), url("./fonts/100/CooperHewitt-Thin.svg") format("svg"), url("./fonts/100/CooperHewitt-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal; 
}


/************ BEGIN LIGHT : FONT-WEIGHT:300; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/300/CooperHewitt-Light.eot") format("eot"), url("./fonts/300/CooperHewitt-Light.svg") format("svg"), url("./fonts/300/CooperHewitt-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal; 
}


/************ BEGIN NORMAL/BOOK : FONT-WEIGHT:400; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/400/CooperHewitt-Book.eot") format("eot"), url("./fonts/400/CooperHewitt-Book.svg") format("svg"), url("./fonts/400/CooperHewitt-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/400/CooperHewitt-Book.eot") format("eot"), url("./fonts/400/CooperHewitt-Book.svg") format("svg"), url("./fonts/400/CooperHewitt-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}


/************ BEGIN MEDIUM : FONT-WEIGHT:500; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/500/CooperHewitt-Medium.eot") format("eot"), url("./fonts/500/CooperHewitt-Medium.svg") format("svg"), url("./fonts/500/CooperHewitt-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal; 
}

/************ BEGIN SEMI BOLD : FONT-WEIGHT:600; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/600/CooperHewitt-Semibold.eot") format("eot"), url("./fonts/600/CooperHewitt-Semibold.svg") format("svg"), url("./fonts/600/CooperHewitt-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal; 
}


/************ BEGIN BOLD : FONT-WEIGHT:700; ************/

@font-face {
    font-family: Cooper Hewitt;
    src: url("./fonts/700/CooperHewitt-Bold.eot") format("eot"), url("./fonts/700/CooperHewitt-Bold.svg") format("svg"), url("./fonts/700/CooperHewitt-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal; 
}

